---

- hosts: all
  become: true
  tasks:
      - name: Install Apache httpd
        ansible.builtin.apt:
            name: apache2
            state: present
            update_cache: yes
      - name: Copy index.html to apache deirectory on managed servers/nodes
        ansible.builtin.copy:
            src: index.html
            dest: /var/www/html
            owner: root
            group: root
            mode: '0644'




          